<h1>Camera sensor<small><i><br>
Skip this step if using an apple device.</i></small></h1>
Record and upload:
<ol>
  <li>Put your device on flat surface <br>
  	<small>(This makes the pictures black)</small>
  </li>
  <li>Press on 'Choose File' </li>
  <li>Choose cam <small>(Kamera)</small> </li>
  <li>Record for 5 sec. </li>
  <li><i class="fa fa-check"></i></li>
</ol>
<input class="form-control" type="file" name="image[]" accept="image/*" onchange="angular.element(this).scope().uploadFile(this.images[])" multiple>


<br>
<button ng-disabled="!hasFile" ui-sref="home.submit" class="btn btn-primary btn-lg btn-block btn-info">
    Next step <span><i class="fa fa-arrow-right"></i></span>
</button>

