<h1>Camera sensor<small><i><br>Skip this step if using a apple device.</i></small></h1>
Record and upload:
<ol>
  <li>Put your device on flat surface <br>
  	<small>(This makes the movie black)</small>
  </li>
  <li>Press on 'Choose File' </li>
  <li>Choose camrecorder <small>(Videokamera)</small> </li>
  <li>Record for 5 sec. </li>
  <li><i class="fa fa-check"></i></li>
</ol>
<input class="form-control" type="file" name="file" accept="video/*" onchange="angular.element(this).scope().uploadFile(this.files)" capture>


<br>
<button ng-disabled="!hasFile" ui-sref="home.submit" class="btn btn-primary btn-lg btn-block btn-info">
    Next step <span><i class="fa fa-arrow-right"></i></span>
</button>

