<div ng-hide="!isRecDone" class="ng-hide">
      <!-- CSV DOWNLOAD BUTTON
      <button class="btn btn-primary btn-lg btn-block btn-primary" ng-csv="getArray" filename="motionData.csv" csv-header="getHeader()" field-separator=","><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Done, go to next test</button>-->
  <h3>DONE! Device is recorded</h3>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-primary" ui-sref="form.send" >Go to send <span class="glyphicon glyphicon-right-arrow" aria-hidden="true"></span></button>
</div>
<div ng-hide="isRecDone">
  <button type="button" class="btn btn-primary btn-lg btn-block btn-primary" ng-click="record()" ng-disabled="isDisabled" ng-model="isDisabled"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{recBtnTxt}}</button>
</div>

<div class="table-responsive">
  <h3 class="text-center">First 10 samples:</h3>
  <!-- TABLE -->
  <table class="table table-striped">
    <thead>
      <th>Alpha</th>
      <th>Beta</th>
      <th>Gamma</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in measurementsGyro | limitTo:10">
        <td>{{item.alpha | number}}</td>
        <td>{{item.beta | number}}</td>
        <td>{{item.gamma | number}}</td>
      </tr>
    </tbody>
  </table>
</div>