<div id="info">
    <a ui-sref-active="active" ui-sref=".about"><span><i class="fa fa-info fa-lg"></i></span></a>
</div>
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<div id="form-container">
  <div class="page-header text-center">
      <h4>
        <small>Recording sensor-data on</small><br>
        {{deviceName}}
      </h4>

      <div id="status-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref=".motion"><span>1</span></a>
        <a ui-sref-active="active" ui-sref=".camera"><span>2</span></a>
        <a ui-sref-active="active" ui-sref=".send"><span>3</span></a>
      </div>
  </div>

  <div>
    <div>
      <div ng-repeat="alert in alerts" type="{{alert.type}}">
        <div class="alert alert-dismissible alert-{{alert.type}}">
          <button type="button" class="close" ng-click="closeAlert($index)" data-dismiss="alert">×</button>
          <h4>{{alert.label}}</h4>
          <p>{{alert.msg}}</p>
        </div>
      </div>
    </div>
	</div>
      
  <!-- use ng-submit to catch the form submission and use our Angular function -->
  <form id="userForm" name="userForm" ng-submit="sendMail()" novalidate> 
    <!-- our nested state views will be injected here -->
    <div id="form-views" ui-view></div>
  </form>


</div>
</div>
</div>

