<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<div id="form-container">
  <h4><small>Recording sensor-data on</small><br>
  {{deviceName}}</h4>
  <div id="info">
      <h3><a ui-sref="home.about" class="info"><span><i class="fa fa-info fa-lg"></i></span></a></h3>
  </div>
  <div class="page-header text-center">
      

      <div id="status-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref=".motion"><span><i class="fa fa-arrows fa-2x"></i></span></a>
        <!--<a ui-sref-active="active" ui-sref=".camera"><span><i class="fa fa-camera-retro fa-2x"></i></span></a>-->
        <a ui-sref-active="active" ui-sref=".submit"><span><i class="fa fa-at fa-2x"></i></span></a>
         <i class="fa fa-paper-plane fa-2x"></i>
      </div>
  </div>

  <div>
    <div>
      <div ng-repeat="alert in alerts" type="{{alert.type}}">
        <div class="alert alert-dismissible alert-{{alert.type}}">
          <button type="button" class="close" ng-click="closeAlert($index)" data-dismiss="alert">×</button>
          <h4>{{alert.label}}</h4>
          <p>{{alert.msg}}</p>
        </div>
      </div>
    </div>
	</div>
      
  <!-- use ng-submit to catch the form submission and use our Angular function -->
  <form id="userForm" name="userForm" ng-submit="sendMail(userForm.$valid)" novalidate> 
    <!-- our nested state views will be injected here -->
    <div id="form-views" ui-view></div>
  </form>


</div>
</div>
</div>

