<div class="row">
<div class="col-sm-8 col-sm-offset-2">

<div id="form-container">
<div class="page-header text-center">
<div class="btn-toolbar" align="center">
  <!--<div class="btn-group">
    <a ui-sref-active="active" ui-sref=".record" class="btn btn-success">
      SAMPLE<br><span><i class="fa fa-bar-chart fa-lg"></i></span><br>Record
    </a>
    <a ui-sref-active="active" ui-sref=".send" class="btn btn-success">
      SEND<br><span><i class="fa fa-paper-plane fa-lg"></i></span><br>Sample
    </a>
  </div>-->
  <!--<div class="btn-group pull-right" ng-disabled="isRecDone">
    <a ui-sref-active="active" ui-sref=".gyro" class="btn btn-info">
      LIVE<br><span><i class="fa fa-compass fa-lg"></i></span><br>Gyro
    </a>
    <a ui-sref-active="active" ui-sref=".motion" class="btn btn-info">
      LIVE<br><span><i class="fa fa-arrows fa-lg"></i></span><br>Motion
    </a>
  </div>-->
  <div>
    <h4><small>Recording of Gyroscope- & Accelometer-data on</small><br>{{deviceName}}</h4>
  </div>
</div>
</div>

  <div>
    <div>
      <div ng-repeat="alert in alerts" type="{{alert.type}}">
        <div class="alert alert-dismissible alert-{{alert.type}}">
          <button type="button" class="close" ng-click="closeAlert($index)" data-dismiss="alert">×</button>
          <h4>{{alert.label}}</h4>
          <p>{{alert.msg}}</p>
        </div>
      </div>
    </div>
	</div>
      
  <!-- use ng-submit to catch the form submission and use our Angular function -->
  <form id="userForm" name="userForm" ng-submit="sendMail(userForm.$valid)" novalidate>
    <!-- our nested state views will be injected here -->
    <div id="form-views" ui-view></div>

  </form>
  
</div>

</div>
</div>

