<h1>About</h1>
<p>This page has been developed as part of my master thesis where I'll try to uniquely authenticate mobile devices based on, eg. sensor data. This page collects sensor data from accelometer and gyroscope available in mobile devices.<br>
	<div align="right">Thanks for the help with my work!<br><i> Anna Karlsson, annka673 [at] student.liu.se</i></div>

<h2>Gyroscope & accelometer in mobile devices</h2>
<img src="img/device-axes.png" class="img-responsive">
<p>Accelometer is a sensor that detects how the unit moves in the form of acceleration and gyroscop sensor detects how much it rotates in degrees. These sensors are mostly used to detect landscape and portrait mode on the device, but has lots of other applications to applications and games.</p>
<hr>
<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <img src="img/device-alpha.png" class="img-responsive">
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <img src="img/device-beta.png" class="img-responsive">
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <img src="img/device-gamma.png" class="img-responsive">
  </div>
</div>
<small><i>Pictures from: <a href="https://dev.opera.com/articles/w3c-device-orientation-api/">Dev.Opera</a></i></small>