<h1>About</h1>
<p>This is a part of my master thesis at Linköping university where I gather sensor-data form different mobile devices. The data is used for analyzing uniqueness of each sensor of each device. Thank you for helping me with that! <br>
	<div align="right">Thank you for helping me with that!<br><i> Anna Karlsson, annka673 [at] student.liu.se</i></div>

<h2>Accelerometer</h2>
<img src="img/device-axes.png" id="compassContainer"/>
<p>Most tablets and mobile devices today has an accelerometer-sensor that measures the acceleration on the device. It's most common used for it is to activate auto screen rotation on mobile devices when the user changes their orientation from portrait to landscape or vice-versa and also in games.</p>
<hr>

<h2>Gyroscope<p class="lead">is a...</p></h2>
<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <img src="img/device-alpha.png" class="img-responsive">
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <img src="img/device-beta.png" class="img-responsive">
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <img src="img/device-gamma.png" class="img-responsive">
  </div>
</div>