<div data-ng-init="deviceOrientationHandler()">
  <table>
    <tr>
      <td>Event Supported</td>
      <td>{{ event }}</td>
    </tr>
    <tr>
      <td>Tilt Left/Right [gamma]</td>
      <td>{{tiltLR | number :0}}</td>
    </tr>
    <tr>
      <td>Tilt Front/Back [beta]</td>
      <td>{{tiltFB | number :0}}</td>
    </tr>
    <tr>
      <td>Direction [alpha]</td>
      <td>{{direction | number :0}}</td>
    </tr>
   </table>


<div class="responsive-container" >
	<div class="dummy"></div>
	<div data-ng-init="init()" class="compass-container" style="perspective: 300;">
	  <img src="img/arrow.png" id="compassContainer" class="img-responsive"/>
	</div>

</div>
</div>
