
<div align="center">
  <h1>{{ tagline }}</h1>
</div>
<hr>
<div ng-controller="AlertDemoCtrl">
  <div ng-repeat="alert in alerts" type="{{alert.type}}">
  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" ng-click="closeAlert($index)" data-dismiss="alert">×</button>
    {{alert.msg}}
  </div>
  </div>

  <button class='btn btn-default' ng-click="addAlert()">Add Alert</button> <!-- TA BORT!! -->
  <hr>
</div>


<div class="text-center">
  <!--<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="testMotion()">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Test Motion
  </button>-->
  <button type="button" class="btn btn-primary btn-lg btn-block btn-success" ng-click="recordMotion()" ng-disabled="isDisabled" ng-model="isDisabled"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{recBtnTxt}}
  </button>
</div>
<div class="table-responsive">
  <h3 class="text-center">First 10 samples:</h3>
  <!-- TABLE -->
  <table class="table table-striped">
    <thead>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in measurements | limitTo:10">
        <td>{{item.vX}}</td>
        <td>{{item.vY}}</td>
        <td>{{item.vZ}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary btn-lg btn-block btn-warning" ng-csv="getArray" filename="motionData.csv" csv-header="getHeader()" field-separator=","><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export to CSV
    </button>
</div>