<h1>Motion sensors</h1>
<div align="center" ng-hide="!isRecDone" class="ng-hide">
  <h4>DONE!</h4>
  <p>Device gyroscope and acceleromter is recorded</p>
  <a ui-sref-active="active" ui-sref="home.camera" class="btn btn-primary btn-lg btn-block btn-success">
    <span><i class="fa fa-camera-retro fa-lg"></i></span> Record camera sensor
  </a>
</div>
<div ng-hide="isRecDone">
  <button type="button" class="btn btn-primary btn-lg btn-block btn-info" ng-click="record()" ng-disabled="isDisabled" ng-model="isDisabled"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{recBtnTxt}}</button>
</div>
<div class="table-responsive">
  <h3 class="text-center">First 10 samples:</h3>

  <!-- TABLE -->
  <table class="table table-striped">
    <thead>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>Alpha</th>
      <th>Beta</th>
      <th>Gamma</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in measurements | limitTo:10">
        <td>{{item.x | number}}</td>
        <td>{{item.y | number}}</td>
        <td>{{item.z | number}}</td>
        <td>{{item.a | number}}</td>
        <td>{{item.b | number}}</td>
        <td>{{item.g | number}}</td>
      </tr>
    </tbody>
  </table>
  <p>X,Y and Z is how much the device is accelerating and Alpha, Beta and Gamma is measurements of the gyroscope. <br>(If Alpha, Beta and Gamma not has values, means that your device don't have gyroscope or that it can't be read.)</p>
</div>