<div ng-hide="!isRecDone" class="ng-hide">
  <h3>DONE! Device is recorded</h3>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-primary" ui-sref="form.send" >Go to send <span class="glyphicon glyphicon-right-arrow" aria-hidden="true"></span></button>
</div>
<div ng-hide="isRecDone">
  <button type="button" class="btn btn-primary btn-lg btn-block btn-primary" ng-click="record()" ng-disabled="isDisabled" ng-model="isDisabled"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> {{recBtnTxt}}</button>
</div>

<div class="table-responsive">
  <h3 class="text-center">First 10 samples:</h3>
  <!-- TABLE -->
  <table class="table table-striped">
    <thead>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in measurementsMotion | limitTo:10">
        <td>{{item.a | number}}</td>
        <td>{{item.b | number}}</td>
        <td>{{item.c | number}}</td>
      </tr>
    </tbody>
  </table>
</div>