<div class="form-container">
            
  <!-- EMAIL -->
  <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
    <label>Your Email</label>
    <input type="email" name="email" class="form-control" ng-model="formData.email" placeholder="your@email.nu" required>
    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
  </div>
  <!-- CC -->
  <div class="form-group">
    <label class="checkbox-inline">
      <input type="checkbox" name="cc" ng-model="formData.cc"> I wan't you to send my testdata to me.
    </label>
  </div>
        
  <button ng-disabled="onSending" type="submit" class="btn btn-primary btn-lg btn-block btn-info">Send <span class="glyphicon glyphicon-send"></span></button>
</div>
      <!-- CSV DOWNLOAD BUTTON
      <button ng-csv="getArray" filename="motionData.csv" field-separator=","></button>-->

  <!-- show our formData as it is being typed -->
<pre>
  <strong>You are sending:</strong>
  Mail to me <span ng-show="formData.cc">and {{ formData.email }}</span><hr>
  <span>With testdata on a {{ formData.type }} with model {{ formData.name }}</span>

</pre>