body{background: #f5f5f5;}
pre { margin:20px; background-color: #FFF;}
.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}
.responsive-container {
    position: relative;
    width: 100%;
}
.compass-container {
  background-image: url('../img/compass.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center; /* Align center inline elements */
}
.compass-container img {
  vertical-align: middle;
  display: inline-block;
}

#footer {
   text-align: right;
   position:fixed;
   left:0px;
   padding-right:5px;
   padding-bottom: 5px;
   bottom:20px;
   height:40px;
   width:100%;
}
#compass{
  position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}

/* BASIC STYLINGS
============================================================================= */
/* form styling 
#compassContainer1 { background-repeat: no-repeat; max-width: 100%; height: auto;}*/
#userForm { position:relative; overflow:hidden; padding:10px; }
#form-container                { min-height: 300px; background:#fdfdfd; margin-bottom:20px;}
#form-container .page-header   { background:#f5f5f5; margin:0; padding:10px;}

/* ANIMATION STYLINGS
============================================================================= */
#test-form            { position:relative; min-height:300px; overflow:hidden; padding:10px;}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}