/* BASIC STYLINGS
============================================================================= */
body{
  background-image: url('../img/header.png');
}
h1{
  text-align: center;
}
h4{
  color: #5E2750;
}

/* Picture alignment */
.container{
  -webkit-perspective: 300; perspective: 300;
}
.dummy {
  padding-top: 100%;
}
.responsive-container {
  position: relative;
  width: 100%;
}
/* Info top right corner */
#info a { 
  position: absolute; 
  top: 10px; 
  right: 10px;
  color: #77216F; 
}
/* STATUS BUTTONS */
#status-buttons{ 
  color: #5E2750;
}
#status-buttons a { 
  color: #fff;
  display:inline-block; 
  font-size:12px; 
  text-align:center; 
  margin-right: 10px;
}
#status-buttons a:hover { 
  text-decoration:none; 
}
#status-buttons span { 
  background:#5E2750; 
  display:block; 
  height:50px; 
  margin:0 auto 10px; 
  width:50px; 
  border-radius:20%; 
  display: inline-block;
  line-height: 60px;
  position: relative;
}
#status-buttons span:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;

  border: 10px solid transparent;
  border-left-color: #5E2750;
  top: 15px;
  left: 100%;
}
#status-buttons a.active span { 
  background:#AEA79F;
  text-decoration:none;
}
#status-buttons a.active span:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;

  border: 10px solid transparent;
  border-left-color: #AEA79F;
  top: 15px;
  left: 100%;
}


/* FORM */
#form-container { 
  position:relative; 
  overflow:hidden; 
  padding: 10px; 
  min-height: 300px; 
  background:#fdfdfd; 
  margin-bottom:20px;}
  
#form-container .page-header {
  background-image: url('../favicon/mstile-310x310.png'); 
  position:relative; 
  overflow:hidden; 
  margin:0;
}

/* ANIMATION STYLINGS
============================================================================= */

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave { 
  position:absolute; 
  left:30px; 
  right:30px;
  transition:0.5s all ease; 
  -moz-transition:0.5s all ease; 
  -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter { 
  -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave { 
  -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}